<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sync vs Async!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="content-container">
    <div id="content-container-center">
        <h3>Sync vs Async!</h3>
        <div id="choice">
            <button id="sync"  name="sync" class="sync"  onclick="sync()">Sync</button>
            <button id="async"  name="async" class="async" onclick="async()">Async</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script>
    function sync(){
        console.log("sync");

    }

    function async(){
        console.log("async");
    }
</script>

</body>
</html>